services:
  api:
    build: .
    env_file: .env
    depends_on:
      - postgres
      - redis
      - chroma
    ports:
      - "8001:8000"
    command: ["uvicorn", "app.main:app", "--host", "0.0.0.0", "--port", "8000"]
    volumes:
      - .:/code
    restart: unless-stopped

  worker:
    build: .
    env_file: .env
    depends_on:
      - postgres
      - redis
      - chroma
    command: ["celery", "-A", "app.tasks.celery_app:celery_app", "worker", "--loglevel=INFO"]
    volumes:
      - .:/code
    restart: unless-stopped

  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: rag
      POSTGRES_USER: rag
      POSTGRES_PASSWORD: rag
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    ports:
      - "6380:6379"
    volumes:
      - redisdata:/data
    command: redis-server --appendonly yes
    restart: unless-stopped

  chroma:
    image: chromadb/chroma:0.5.23
    ports:
      - "8000:8000"
    volumes:
      - chromadata:/chroma/chroma
    restart: unless-stopped

volumes:
  pgdata:
  chromadata:
  redisdata:
