services:
  api:
    build: .
    env_file: .env
    depends_on:
      - postgres
      - redis
      - chroma
    ports:
      - "8001:8000"
    command: ["gunicorn", "config.wsgi:application", "--bind", "0.0.0.0:8000", "--workers", "4"]
    environment:
      - DJANGO_SETTINGS_MODULE=config.settings
    volumes:
      - .:/code

  worker:
    build: .
    env_file: .env
    depends_on:
      - postgres
      - redis
      - chroma
    command: ["celery", "-A", "config", "worker", "--loglevel=INFO"]
    environment:
      - DJANGO_SETTINGS_MODULE=config.settings
    volumes:
      - .:/code

  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: rag
      POSTGRES_USER: rag
      POSTGRES_PASSWORD: rag
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    ports:
      - "6380:6379"

  chroma:
    image: chromadb/chroma:latest
    ports:
      - "8000:8000"
    volumes:
      - chromadata:/chroma/chroma

volumes:
  pgdata:
  chromadata:
